<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.mapper.RoleMapper">

    <resultMap id="roleper" type="RoleDto">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <collection property="permissions" column="id" javaType="java.com.bosssoft.util.List" select="getper"/>
    </resultMap>


    <select id="getper" resultType="PermissionsDto">
        select p1.id,p1.name,p1.url
        from permissions p1 , per_role p2
        where p2.rid = #{id} and p2.pid = p1.id and  p2.deleted = 0 and p1.deleted = 0
    </select>

    <select id="queryperbyrole" resultMap="roleper">
        select * from role where deleted = 0
    </select>

</mapper>
